@font-face {
    font-family: 'odengregular';
    src: url('odeng-webfont.woff2') format('woff2'),
         url('odeng-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
